<div class="homepage">
<div class="box">
  <!-- <h1>Welcome to your personal travel dashboard</h1> -->
</div>

<div class="icons">
  <%= image_tag 'search.svg' %>
  <%= image_tag 'list.svg' %>
  <%= image_tag 'location.svg' %>
  <%= image_tag 'plane.svg' %>
</div>

<div class="content">
  <p>Search locations</p>
  <p>Save locations in one place</p>
  <p>Map-enabled searches</p>
  <p>Plan your next holiday</p>
</div>

</div>
