<h1><%= @dashboard.name %></h1>
<p>Find me in app/views/dashboard/show.html.erb</p>

<% @dashboard.locations.each do |location| %>
  <div class="location">
    <ul>
      <li><%= link_to "#{location.address}" , location_path(location), :class => "dash_link"%></li>
    </ul>

    <div class="controls">
      <%= button_to "Delete #{location.address}", location_path(location), :method => 'delete' %>
    </div>

    <iframe class="frame"  src="<%= location_path(location) %>"></iframe>
  </div>

<% end %>
