<h1 id="title"><%= @dashboard.name %></h1>

<div class="board">
<% @dashboard.locations.each do |location| %>
  <div class="location">
  <ul>
    <li><%= link_to "#{location.address}" , location_path(location), :class => "dash_link"%></li>

  </ul>
  <iframe class="frame"  src="<%= location_path(location) %>"></iframe>

</div>

<% end %>

    </div>

    
</div>
