// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // background: linear-gradient(rgba(99, 148, 170, 0.8),rgba(226, 215, 122, 0.67), rgba(23, 51, 78, 0.8));
  background-color: white;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}

.box {
  height: 100%;
  width: 60%;
  display: block;
  margin: 0 auto;
  // background-color: rgba(15, 15, 15, 0.48);
}

.box h1 {
  margin: 0 auto;
  color: white;
  padding: 50px;
}
.grid-container {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr;
}

.grid-container h1 {
  grid-row: 1;
}

.inner-container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-column: 1fr 1fr 1fr;
  // grid-gap: 3%;
  height: 40%;
}

.homepage {
  background-image: url(https://annenberg.usc.edu/sites/default/files/NYC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 63vh;
}

.thumbnail {
  display: inline-block;
  margin: 10px 30px;
  box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
  height: 290px;
  border-radius: 1em;
}

.thumbnail p {
  text-align: center;
}

.thumbnail img {
  height: 250px;
  width: 300px;
  overflow: hidden;
  max-width: 500px;
  padding: 20px;
}

.frame {
  height: 100vh;
  width: 100vw;
  display: none;
  position: absolute;
  left: 0;

}

.overlay {
  background: rgba(0,0,0,.75);
  text-align: center;
  padding: 25px 0 40px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  max-width: 500px;
  position: relative;
  top: -180px;
}

.thumbnail:hover .overlay {
  opacity: 0.5;
}

#text {
  font-family: Helvetica;
  font-weight: 900;
  color: white;
  font-size: 29px;
}

.search_bar {
  margin: 40px;
  text-align: center;
}

.search_bar .input {
  height: 30px;
  width: 30%;
  border-radius: 1em;
}

// nav {
//   background-color: rgba(0, 0, 0, 0.73);
//   padding: 4vh;
// }
//
// nav a {
//   text-decoration: none;
//   color: white;
//   margin: 30px;
//   font-size: 3vh;
//   padding: 10px;
// }

.points {
  list-style: none;
  // width: 30%;
}

.interests {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.row_two {
  grid-column: 1;
  grid-row: 2;
}


.image_show {
  // height: auto;
  width: 80%;
  // padding: 20px;
  display: block;
  margin: 0 auto;
  grid-row: 1;
  grid-column: 1;
  height: 95%;

}
.dash_form {
margin-bottom: 15px;
}

.temp {
  grid-row: 1;
  grid-column: 2;
  width: 80%;
  margin: 0 auto;

}

.weather {
  grid-row: 1;
  grid-column: 3;
  width: 80%;
  margin: 0 auto;
}

.temp p, .weather p, .box3 p, .box4 p{
  background-color: rgba(0, 0, 0, 0.40);
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-style: wavy;
}
.interests li {
  margin: 0 auto;
  color: white;
  padding-top: 10px;

}

.interest {
  background-color: rgba(0, 0, 0, 0.40);
  margin: 0 auto;
  display: block;

}
.temp h3, .weather h3, .interests h3, .box3 h3, .box4 h3{
  background-color: rgba(0, 0, 0, 0.60);
  padding: 20px;
  margin: 0;
  color: white;
}

.weather {
  grid-row:1;
  grid-column: 3;
  width: 80%;
}

#map {
  height: 90%;
  grid-column: 2/3;
  width: 180%;
  margin-top: 43px;
  margin-left: 41px;

}

.box3 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 200px;
  margin-left: 41px;
  width: 80%;
}

.box4 {
  grid-row: 1;
  grid-column: 3;
  margin-top: 200px;
  margin-left: 41px;
  width: 80%;
}

// .board ul {
//   list-style: none;
// }

// #title {
//   grid-row: 1;
// }

.dash_link {
  text-decoration: none;
  // color: black;
  // border: 1px solid black;
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
display: block;
margin: 5px auto;
max-width: 100px;
text-decoration: none;
border-radius: 4px;
padding: 20px 30px;
color: rgba(30, 22, 54, 0.6);
box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.dash_link:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

.location {
  grid-row: 1;
  display: inline-block;

  float: left;
  list-style: none;
}

.location li {
  list-style: none;

}

#controls {
  display: inline-block;

}

.icons img {
  width: 5%;
  height: 5%;
  display: inline-block;
text-align: center;
margin:2% 9%;
}

.content p {
  display: inline-block;
  width: 9%;
  height: 5%;
  text-align: center;
  margin: 0% 7%;
}

.delete_form {
  position: absolute;
  top: 16%;
  right: 6%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #111;
}

ul.topnav .logins {
  float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.logins,
    ul.topnav li {float: none;}
}

.user {
  // width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    background-color:rgba(252, 252, 252, 0.49);

    &:focus {
        background: darken(rgba(252, 252, 252, 0.49), 5%);
    }
}
.btn {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background:rgba(48, 48, 48, 0.71) ;
    transition: 0.3s;

    &:hover {
        background: darken(rgba(48, 48, 48, 0.71), 8%);
    }
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.user_container {
background-image: url(https://media.cntraveler.com/photos/56cf6b7569d8fae9411b181a/master/pass/Adriano_Neves_Portugual_Shortlist_Open_Travel_2016.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 90vh;
}
.user_container h1 {
  margin: 0 auto;
  padding-top: 40px;
}

.user .alert {
  background:rgba(48, 48, 48, 0.71) ;
}
.user p {
  color: white;
  margin: 0 auto;
}
@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
